/* IMPORTS AREA*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* IMPORTS AREA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
:root {
    --font-size-big: 3rem;
    --font-size-medium: 1.75rem;
    --font-size-small: 1.5rem;

    --color-dark-gray: #707070;
    --font-family: 'Raleway', sans-serif;
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-black);

    padding: 7.7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Dislays */

.card,
.container-card {
    display: flex;
}

.container-card {
    width: 100%;
    height: 100%;
    justify-content: center;
    transform: rotateX(30deg) scale(0.8);
    perspective: 700px;
}

/* Card Start*/
.card {
    width: 58rem;
    height: 35rem;
    background-color: white;
    align-self: center;
    border: 2px solid var(--color-dark-gray);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;

    color: var(--color-dark-gray);
    transform: rotateX(10deg);
    perspective: 24rem;
    transition: all 0.3s ease;
}

.decoration {
    width: 35%;
    overflow: hidden;
}

.decoration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.info {
    width: 60%;
    padding: 3.25rem 5.5rem 4rem 4.8rem;
}

h3 {
    font-weight: bold;
    font-size: var(--font-size-big);
    margin-bottom: 1.25rem;
}

.card p {
    margin-bottom: 1.25rem;
}
.card p:not(.text-big) {
    margin-bottom: 3.25rem;
}
.text-big {
    font-size: 1.75rem;
}

.btn {
    background-color: transparent;
    padding: 0.6rem 0;
    position: relative;
    overflow: visible;
    cursor: pointer;
}

.btn::before {
    content: ''; /* Obligatory for before and after*/
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-gray);
    position: absolute;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 0;
}

.card:hover .decoration img {
    transform: scale(1.25);
}

.card:hover {
    box-shadow: 14px 32px 20px rgba(0, 0, 0, 0.55);
    transform: rotate(0deg) translateY(-4rem);
}
/* Card  End*/

/* Without container card

.card {
  display: flex;
  flex-wrap: wrap;
  width: 58rem;
  max-width: 100%;
  border: 2px solid var(--color-black);
  box-shadow: 1rem 1rem 1.25rem rgba(0,0,0,0.15);
  transform-style: preserve-3d;
  transform: perspective(600px) rotateX(20deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 1rem 2.5rem 1.25rem rgba(0,0,0,0.30);
  transform: perspective(600px) rotateX(0deg) translateY(-20px);
}
*/
